<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
</head>
<body>
<form action="/cmdb/update/" method="post">
    <table>
        <tr>
            <td><input type="hidden" value="{{detail.id}}" name="id"><input type="text" value="{{detail.username}}" name="username"></td>
            <td><input type="text" value="{{detail.email}}" name="email"></td>
            <td>
                <select name="user_group_id" id="">
                    {%for row in user_group%}
                    <option value="{{row.uid}}">{{row.caption}}</option>
                    {%endfor%}
                </select>
            </td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>

</body>
</html>