
{%extends 'master.html' %}
{%load funcs %}
{%block css%}
<link rel="stylesheet" href="/static/home.css">
{%endblock%}
{%block content%}
当前登录用户{{request.session.username}}
<table>
        <tr>
           <th>后台首页用户列表</th>
        </tr>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>邮件</td>
            <td>等级</td>
            <td>操作</td>
        </tr>
        {% for row in userlist %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="/cmdb/detail-{{row.id}}-html">{{row.username|upper}}</a></td>
            <td>{{row.email| comb:'123'}}</td>
            <td>{{row.user_group.caption}}</td>
            <td><a href="/cmdb/delete-{{row.id}}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    <div>
        {% if userlist.has_previous%}
        <p><a href="?page={{userlist.previous_page_number}}">上一页</a></p>
        {%endif%}
        {%for pg in userlist.paginator.page_range %}
        <a href="?page={{pg}}">{{pg}}</a>
        {%endfor%}
        <p>第{{userlist.number}}页 共{{userlist.paginator.num_pages}}页</p>
        {%if userlist.has_next%}
            <p><a href="?page={{userlist.next_page_number}}">下一页</a></p>
        {%endif%}
    </div>
    <select name="pagesize" id="pagesize">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <div>
        <p><a href="/cmdb/loginout/">注销</a></p>
    </div>
    <!--<form action="{% url 'home'%}"method="post" enctype="multipart/form-data">-->
        <!--<input type="text" name="username" placeholder="用户名">-->
        <!--<input type="email" name="email" placeholder="邮箱">-->
        <!--<input type="radio" name="gender" value="男">男 <input type="radio" name="gender" value="女">女-->
        <!--<input type="checkbox" name="favor" value="sun">太阳-->
        <!--<input type="checkbox" name="favor" value="moon">月亮-->
        <!--<input type="checkbox" name="favor" value="star">星星-->
        <!--<p>-->
            <!--<input type="file" name="imgs">-->
        <!--</p>-->
        <!--<input type="submit" value="添加">-->
    <!--</form>-->
{%endblock%}


{%block js%}
<script src="/static/jquery.cookie.js"></script>
<script src="/static/home.js"></script>
<script>
    $(function(){
        var v=$.cookie('pagesize');
        console.log(v)
        if (v!=undefined){
            $('#pagesize').val(v);
        }
        $('#pagesize').change(function(){
            var pagesize=$(this).val();
            $.cookie('pagesize', pagesize,{'path':'/cmdb/home'});
            window.location.reload();
        });
    });

</script>

{%endblock%}
