<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
</head>
<body>
    <table>
        <tr>
           <th>后台首页用户列表</th>
        </tr>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>邮件</td>
            <td>等级</td>
            <td>操作</td>
        </tr>
        {% for row in userlist %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="/cmdb/detail-{{row.id}}-html">{{row.username}}</a></td>
            <td>{{row.email}}</td>
            <td>{{row.user_group.caption}}</td>
            <td><a href="/cmdb/delete-{{row.id}}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    <!--<form action="{% url 'home'%}"method="post" enctype="multipart/form-data">-->
        <!--<input type="text" name="username" placeholder="用户名">-->
        <!--<input type="email" name="email" placeholder="邮箱">-->
        <!--<input type="radio" name="gender" value="男">男 <input type="radio" name="gender" value="女">女-->
        <!--<input type="checkbox" name="favor" value="sun">太阳-->
        <!--<input type="checkbox" name="favor" value="moon">月亮-->
        <!--<input type="checkbox" name="favor" value="star">星星-->
        <!--<p>-->
            <!--<input type="file" name="imgs">-->
        <!--</p>-->
        <!--<input type="submit" value="添加">-->
    <!--</form>-->
</body>
</html>