<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'common.css'%}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<form action="/cmdb/login/" method="post" class="form">
    <p>
        <label for="">用户名</label>
        <input type="text" name="username">
        {%csrf_token%}
    </p>
    <p>
        <label for="">密码</label>
        <input type="password" name="pwd">
    </p>
    <p>
        <input type="checkbox" value="1" name="auto_login">一周内免登陆
    </p>
    <p>
        <input type="button" value="提交" id="submit">
    </p>
    <p>
        <span style="color:red" id="show_error"></span>
    </p>
    <p>
        <a href="/cmdb/register/">注册</a>
    </p>
</form>
</body>
</html>
<script>
    $(function(){
    $('#submit').click(function(){
    $.ajax({
            type:'POST',
            url:"/cmdb/login/",
            data:$("form").serialize(),
            dataType:'json',
            success:function(res){
                if(res.status){
                    $('#show_error').text(res.error);
                        setTimeout(function () {
                              window.location.href='/cmdb/home/';
                        },2000);
                }else{
                    $('#show_error').text(res.error);
                }
            }
        });
    });

    });
</script>