<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<form action="/cmdb/register/" method="post">
    {% csrf_token %}
    <p>{{data.username.label}}{{data.username}} {{data.errors.username.0}}</p>
    <p>{{data.pwd.label}} {{data.pwd}}{{data.errors.pwd.0}}</p>
    <p>{{data.email.label}} {{data.email}}{{data.errors.email.0}}</p>
    <p>{{data.city}}</p>
    <p>{{data.favor}}</p>
    <p>{{data.provice}}</p>
    <p><input type="submit" value="提交"></p>
    <p>
        {{username}}--{{pwd}}--{{email}}
    </p>
</form>
</body>
</html>